NEXT_PUBLIC_API_URL=http://localhost:8787
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
PORT=8787
WEB_ORIGIN=http://localhost:3000
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
DATABASE_URL=
BAGS_API_KEY=
EMBER_API_BASE=https://embercurve.fun
OTC_REWARD_WALLET=2k5hrzuykwyTbUe8L7UriYAQhr5hijNLgBvEB4B9pP5y
